/**
 * @name JKPurpleDark
 * @author JikaiSH
 * @version 0.2.0
 * @description A plugin for your eye at the night !
 * @source https://github.com/JikaiSH/betterdiscordthemes
 * @website https://jikaish.tk
 * @invite 52Nc5Qry4t
 */
 
/* DO NOT DELETE THIS IMPORT */
@import url("https://jikaish.github.io/betterdiscordthemes/src/source.css");

/* IMPORT YOU CAN DELETE WITHOUT PROBLEME */
@import url("https://lavender-discord.github.io/Lavender/modules/addons/settings-icons.css");

/* MAIN COD */
/* SOURCE FOR IT WORK */
:root {
	--background-primary: #2f1d3b;
	--background-secondary: rgb(41, 21, 53);
	--background-secondary-alt: rgb(53, 29, 68);
	--background-floating: rgb(25, 13, 32);
	--more-light: #C67DF5;
	--litle-light: #5B2878;
	--some-light: #8A4DB2;
	--more-dark: rgb(32, 20, 43);
	--some-dark: rgb(46, 23, 65);
	--background-modifier-active: var(--background-primary);
	--button-neutral-active: #7D0C7B;
	--button-neutral-hover: #7D0C7B;
	--button-neutral: #B01DAA;
	--button-secondary-background: var(--some-light);
	--button-secondary-background-hover: var(--litle-light);
	--button-secondary-background-active: var(--more-light);
	--background-modifier-hover: var(--more-dark);
	--background-modifier-selected: var(--more-dark) !important;
    --scrollbar-auto-track: --background-secondary;
   --background-tertiary: var(--some-dark);
}