/**
 * @name JKPurpleDark
 * @author JikaiSH
 * @version 0.1.0
 * @description A plugin for your eye at the night !
 * @source https://github.com/JikaiSH/betterdiscordthemes
 * @website https://jikaish.tk
 * @invite 52Nc5Qry4t
 */

/* IMPORT YOU CAN DELETE WITHOUT PROBLEME */
@import url("https://lavender-discord.github.io/Lavender/modules/addons/settings-icons.css");

/* MAIN COD */
:root {
	--more-dark: rgb(32, 20, 43);
	--some-dark: rgb(46, 23, 65);
	--background-modifier-hover: var(--more-dark);
	--background-modifier-selected: var(--more-dark);
    --scrollbar-auto-track: --background-secondary;
   --background-tertiary: var(--some-dark);
}


/* Main Color */
.theme-dark {
	--background-primary: #2f1d3b;
	--background-secondary: rgb(41, 21, 53);
	--background-secondary-alt: rgb(53, 29, 68);
	--background-floating: rgb(25, 13, 32);
}

.scrollableContainer-15eg7h {
	border-radius: 25px;
	border: 1px solid rgb(43, 10, 65);
	background-color: rgb(65, 32, 87);
}

.container-x8Y1ix {
	background-color: rgb(43, 10, 65);
}

#app-mount .scroller-3X7KbA {
	background-color: rgb(25, 15, 32);
}

.scroller-1bVxF5 {	background-color: rgb(25, 15, 32);
border-radius: 10px;}

.focused-3qFvc8 { border-radius: 10px;}

.colorDefault-CDqZdO.focused-3qFvc8 { 	background-color: rgb(49, 16, 77);
} 

.tabBody-2dgbAs {
background-color: var(--background-primary);
}

.contentRegionScroller-2_GT_N {background-color: var(--background-primary);}

.container-2McqkF {
	background: var(--background-secondary) !important;
}

.searchBar-2aylmZ {background: var(--background-secondary);}
.container-2oNtJn {background: var(--background-secondary);}
.medium-2NClDM {background: var(--background-secondary);}

.input-3r5zZY {
	background-color: var(--background-primary);
	border: 1px solid var(--background-secondary-alt);
}

.contentDefault-17ewQQ {	background-color: var(--background-primary);}
.content-vQY7Mf {	background-color: var(--background-primary);}
.selected-1Drb7Z {
	background: var(--background-primary);
}

#app-mount .body-2wLx-E,
#app-mount .footer-1N3bR3 {
	background-color: var(--background-primary);
}

.tile-2TcwiO {
	background-color: var(--background-primary) !important;
	border: 1px solid var(--background-primary);
}

.content-1gYQeQ { background-color: rgb(43, 21, 48);}
