/* SOURCE FOR IT WORK */
:root {
	--home-icon: url("https://cdn.discordapp.com/attachments/562039492719018047/696805427081642144/discord-logo.png"); /* Change by the link you want*/
	--home-position: center;
	--home-size: 40px;
	--background-primary: #2f1d3b;
	--background-secondary: rgb(41, 21, 53);
	--background-secondary-alt: rgb(53, 29, 68);
	--background-floating: rgb(25, 13, 32);
	--more-light: #C67DF5;
	--litle-light: #5B2878;
	--some-light: #8A4DB2;
	--more-dark: rgb(32, 20, 43);
	--some-dark: rgb(46, 23, 65);
	--background-modifier-active: var(--background-primary);
	--button-neutral-active: #7D0C7B;
	--button-neutral-hover: #7D0C7B;
	--button-neutral: #B01DAA;
	--button-secondary-background: var(--some-light);
	--button-secondary-background-hover: var(--litle-light);
	--button-secondary-background-active: var(--more-light);
	--background-modifier-hover: var(--more-dark);
	--background-modifier-selected: var(--more-dark) !important;
    --scrollbar-auto-track: --background-secondary;
    --background-tertiary: var(--some-dark);
	--background-mentioned: var(--more-dark);
	--background-mentioned-hover: var(--background-secondary);
	--mentioned-bar: #F1C2EF;
}

/* Main Color */
.theme-dark {
	--background-primary: #2f1d3b;
	--background-secondary: rgb(41, 21, 53);
	--background-secondary-alt: rgb(53, 29, 68);
	--background-floating: rgb(25, 13, 32);
}

.scrollableContainer-15eg7h {
	border-radius: 25px;
	border: 1px solid rgb(43, 10, 65);
	background-color: rgb(65, 32, 87);
}

.container-x8Y1ix {
	background-color: rgb(43, 10, 65);
}

#app-mount .scroller-3X7KbA {
	background-color: rgb(25, 15, 32);
}

.scroller-1bVxF5 {	background-color: rgb(25, 15, 32);
border-radius: 10px;}

.focused-3qFvc8 { border-radius: 10px;}

.colorDefault-CDqZdO.focused-3qFvc8 { 	background-color: rgb(49, 16, 77) !important;
}

.tabBody-2dgbAs {
background-color: var(--background-primary);
}

.contentRegionScroller-2_GT_N {background-color: var(--background-primary);}

.container-2McqkF {
	background: var(--background-secondary) !important;
}

.searchBar-2aylmZ {background: var(--background-secondary);}
.container-2oNtJn {background: var(--background-secondary);}
.medium-2NClDM {background: var(--background-secondary);}

.input-3r5zZY {
	background-color: var(--background-primary);
	border: 1px solid var(--background-secondary-alt);
}

.contentDefault-17ewQQ {	background-color: var(--background-primary);}
.content-vQY7Mf {	background-color: var(--background-primary);}
.selected-1Drb7Z {
	background: var(--background-primary);
}

#app-mount .body-2wLx-E,
#app-mount .footer-1N3bR3 {
	background-color: var(--background-primary);
}

.tile-2TcwiO {
	background-color: var(--background-primary) !important;
	border: 1px solid var(--background-primary);
}

.content-1gYQeQ { background-color: rgb(43, 21, 48);}

.autocompleteInner-y1mjDl autocompleteInner-2tOQrf {
	background-color: var(--background-primary);
}

#app-mount .pageWrapper-2PwDoS {
	background-color: var(--background-primary);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
	background-color: var(--background-secondary);
}
.search-25t1e9 .searchBox-31Zv9h {
	background-color: var(--background-secondary);
}

.autocomplete-3NRXG8 {
	background-color: var(--more-dark) !important;
}

.theme-dark .selected-3H3-RC {
	background-color: var(--some-light);
}

.fieldButton-14lHvK button-f2h6uQ lookFilled-yCfaCM colorPrimary-2AuQVo sizeSmall-wU2dO- grow-2sR_-F {
		background-color: var(--some-light);
}

.theme-dark .root-g14mjS {
	background-color: var(--more-dark);
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP) {
		background-color: var(--some-light);
}

.ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
	background: var(--more-dark) !important;
	border-bottom: var(--some-dark) !important;
	--background-modifier-selected: var(--some-light) !important;
}

.item-3XjbnG.themed-2-lozF:hover {
	background: var(--litle-light) !important;
}

.theme-dark .default-1Tkeeg {
	background-color: var(--more-dark)
}

.jumpToPresentBar-1cEnH0 {
	visibility: hidden;
	bottom: 15px;
  }
  .jumpToPresentBar-1cEnH0 .barButtonIcon-bMvzp2 {
	visibility: visible;
	padding: 12px;
	background-color: var(--some-light);
	border-radius: 50%;
	margin-bottom: 2em;
  }

 .userPopout-2j1gM4 {
	background-color: var(--background-primary)
}

.bodyInnerWrapper-2bQs1k {
	background-color: var(--background-secondary);
	border-radius: 10px
}

.automodMessage-265YwJ:before, .ephemeral-2nDdnn:before, .mentioned-Tre-dv:before, .replying-eZ7p5z:before {
	background-color: var(--mentioned-bar)
}

  /* Blue button now better */
button.button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F {
	background: var(--button-neutral);
}

button.button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F:hover {
	background: var(--button-neutral-hover);
}

button.button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F:active {
	background: var(--button-neutral-active)
}

/* When click on a server, hover or unread messages */

.scroller-3X7KbA  .pill-2RsI5Q .item-2LIpTv{
    background-color: var(--more-light);
}

/* support for my server count plugin ! */
  .guildSeparator-a4uisj {
	background-color: var(--some-dark);
}

/* Purple when selected */

.option-1QI4c9:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub,
.barFill-2Bh7CX,
.colorDefault-CDqZdO.focused-3qFvc8,
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n,
.lookFilled-yCfaCM.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY,
#app-mount .wrapper-1ZcZW-:hover,
.circleIconButton-1VxDrg.selected-2r1Hvo,
.newMessagesBar-1hF-9G,
.questionMark-3V9mGJ,
.bd-button,
.bd-addon-views .bd-view-button.selected {
	background-color: var(--some-light);
}

/* CHANGE HOMEICON IMAGE */

.homeIcon-r0w4ny{width:100%;height:100%;background:var(--home-icon) var(--home-position)/var(--home-size) no-repeat}.homeIcon-r0w4ny>path{display:none}.icon-3AqZ2e{background-color:rgba(0,0,0,.3)}.pill-2RsI5Q{overflow:hidden}.item-2LIpTv{width:12px;margin-left:-6px;border-radius:20px;background:var(--some-dark);box-shadow:0 0 20px -1px var(--some-dark)};